[user]
  name = 
  email = 
  signingkey = 
[gpg]
  program = gpg2
#[http]
#	sslVerify = false
[color]
  ui = always
[alias]
  s = status
  d = diff
  lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n'' %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  lg = !"git lg2"
  llg = log --color --decorate --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  l = log --oneline --graph --all --decorate
  bav = branch -a -vv
[pull]
  rebase = true
[commit]
  gpgsign = true
